.table-edit-btn {
  color: white;
  background-color: #47cf73;
  border-radius: 5px;
  padding: 5px 10px;
}

.btn-appearance {
  background-color: white;
  border: none;
  font-weight: normal;
  color: #007462;
  box-shadow: 0 2px 4px 0 grey;
  &:hover {
    color: white;
    background-color: #007462;
    font-weight: normal;
    border-color: #007462;
  }
}

.table-title {
  color: #AE735D !important;
  text-align: left;
  margin-left: 30px;
  font-size: 30px;
}

.table-title-mobile {
  color: #AE735D !important;
  text-align: left;
  margin-left: 10px;
  font-size: 22px !important;
  margin-bottom: -5px;
}

.table-hr {
  color: #9F7747;
  margin-top: -30px;
}

.search-bar-area {
  margin-left: 2px;
  margin-top: -20px;
  margin-bottom: 20px;
  box-shadow: 0 1px 2px 0 grey;
  border-color: grey;
  &:active {
    border-color: darkgrey;
  }
  input {
    &:hover {
      border-color: darkgrey !important;
      box-shadow: 0 2px 4px 0 darkgrey;
    }
  }
}

.title-row {
  margin-top: -30px;
  padding-top: 20px;
  background-color: white;
}

thead {
  &.ant-table-thead {
    span {
      font-size: 18px;
      color: #86610C;
    }
  }
  border-top: none;
}

tbody {
  tr {
    td {
      font-size: 15px;
    }
  }
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}

#add-btn {
  background-color: #00B0DA;
  border-color: #00B0DA;
  color: white;
  text-align: center;
  box-shadow: 0 2px 4px 0 #005f76;
  margin-left: 50px;
  margin-right: 20px;
  font-weight: bold;
  &:hover {
    box-shadow: 0 4px 8px 0 #005f76;
  }
}

.card-item {
  margin-bottom: 10px;
  margin-left: -15px;
  margin-right: -15px;
  box-shadow: 0 0.4px 1px 0 grey;
  border-radius: 4px;
}


.breadcrumb-link {
  background-color: white;
  border-radius: 10px;
  padding: 5px 10px;
  border: 1px solid #daab59;
  text-align: right;
  float: right;
  margin-top: 10px;
  &:hover {
    color: #daab59;
  }
}

.breadcrumb {
  background-color: #FFF8F0;
  text-align: left;
  font-weight: bolder;
  margin-right: 10px;
  border-left: 2px solid #daab59;
  color: #135A6D;
  overflow: hidden;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.breadcrumb-panel {
  border-bottom: 0px !important;
  border-radius: 2px;
}

.support-path {
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 17px;
  a {
    border: 2px solid #FFEDCB;
    background-color: #FFF8EA;
    padding: 5px 12px;
    border-radius: 5px;
  }
}

.table-area {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  background-color: white;
  border-radius: 10px;
  margin-bottom: 50px;
  padding: 20px;
}
