.table-edit-btn {
  color: white;
  background-color: #47cf73;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.btn-appearance {
  background-color: #007462;
  border-color: #007462;
  font-weight: normal;
  &:hover {
    color: #007462;
    background-color: white;
    font-weight: normal;
    border-color: #007462;
  }
}

.table-title {
  color: #AE735D !important;
  text-align: left;
  margin-left: 50px;
}

.table-hr {
  color: #9F7747;
  margin-top: -25px;
}

.search-bar-area {
  margin-left: 2px;
  margin-top: 5px;
  margin-bottom: 10px;
  input {
    &:hover {
      border-color: #daab59 !important;
    }
  }
}

thead {
  &.ant-table-thead {
    background-color: white !important;
    span {
      font-size: 18px;
      color: #86610C;
    }
  }
  border-top: none;
}

tbody {
  tr {
    td {
      font-size: 16px;
    }
  }
}

.site-page-header {
  border: 1px solid rgb(235, 237, 240);
}

#add-btn {
  background-color: #CAC932;
  border-color: #CAC932;
  color: white;
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  box-shadow: 0 2px 4px 0 #75741d;
  &:hover {
    box-shadow: 0 4px 8px 0 #75741d;
  }
}
