.chips {
  color: #0e0e0e;
  background: #e5e5e5;
  padding: 5px 30px;
  border-radius: 30px;
  margin-left: 10px;
}

.p {
  font-weight: 600;
  font-size: 17px;
}

.img {
  border-radius: 100%;
  margin-left: 30%;
  width: 150px;

}