#save-btn {
  background-color: #DAAB59;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 45px;
  &:hover {
    border-color: #86610C;
    color: #86610C;
    background-color: white;
  }
  &:active {
    border-color: #86610C;
    color: #86610C;
    background-color: white;
  }
}

.ant-drawer-title {
  color:  #86610C;
  font-size: 20px;
  text-align: center;
}

.ant-drawer-header {
  // box-shadow: 0 0.5px 1px 0 grey;
}

.ant-drawer-close {
  .anticon.anticon-close {
    svg {
      color: #62738d;
      font-weight: bold;
    }
  }
}



.ant-drawer-content {
  font-family: 'Montserrat', sans-serif;
}
